<ul class="tree">
    <li class="has-children">
        <span class="toggle-icon">▶</span><span class="label">Wiki</span>
        <ul>
            <li>
                <span class="toggle-icon">▶</span><span class="label">中间节点</span>
                <ul>
                    <li>
                        <span class="toggle-icon">▶</span><span class="label">中间节点</span>
                        <ul></ul>
                    </li>
                    <li>
                        <span class="toggle-icon">▶</span><span class="label">中间节点</span>
                        <ul></ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="toggle-icon">▶</span><span class="label">中间节点</span>
                <ul></ul>
            </li>
        </ul>
    </li>
</ul>

